//
// Forma
// --------------------------------------------------

// VARIABLES
// Inputs

// GLOBALS

// Form Group Display Settings
$forma-form-display: block !default;
$forma-form-height: 35px !default;
$forma-form-padding: 4px 14px !default;
$forma-form-border-width: 1px !default;
$forma-form-border-style: solid !default;
$forma-form-border-color: #000 !default;
$forma-form-outline-width: 1px !default;
$forma-form-outline-style: solid !default;
$forma-form-outline-color: #578 !default;
$forma-form-font-family: inherit !default;
$forma-form-font-size: 14px !default;
$forma-form-line-height: 30px !default;
$forma-form-background-color: #888 !default;
$forma-form-color: #fff !default;
$forma-form-placeholder-color: #222 !default;
$forma-form-disabled-background-color: #111 !default;
$forma-form-disabled-opacity: 0.7 !default;
$forma-form-border-radius: 4px !default;
$forma-form-focus-border-color: #000 !default;

@mixin forma-block(
  $forma-display: $forma-form-display,
  $forma-height: $forma-form-height,
  $forma-padding: $forma-form-padding,
  $forma-border-width: $forma-form-border-width,
  $forma-border-style: $forma-form-border-style,
  $forma-border-color: $forma-form-border-color,
  $forma-outline-width: $forma-form-outline-width,
  $forma-outline-style: $forma-form-outline-style,
  $forma-outline-color: $forma-form-outline-color,
  $forma-font-family: $forma-form-font-family,
  $forma-font-size: $forma-form-font-size,
  $forma-line-height: $forma-form-line-height,
  $forma-border-radius: $forma-form-border-radius
) {
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border-color: $forma-border-color;
  border-radius: $forma-border-radius;
  border-style: $forma-border-style;
  border-width: $forma-border-width;
  display: $forma-display;
  font-family: $forma-font-family;
  font-size: $forma-font-size;
  height: $forma-height;
  line-height: $forma-line-height;
  outline-color: $forma-outline-color;
  outline-style: $forma-outline-style;
  outline-width: $forma-outline-width;
  padding: $forma-padding;
  width: 100%;
}

@mixin forma-modifier(
  $forma-background-color: $forma-form-background-color,
  $forma-color: $forma-form-color,
  $forma-placeholder-color: $forma-form-placeholder-color,
  $forma-disabled-background-color: $forma-form-disabled-background-color,
  $forma-disabled-opacity: $forma-form-disabled-opacity,
  $forma-border-color: $forma-form-border-color,
  $forma-border-width: $forma-form-border-width,
  $forma-focus-border-color: $forma-form-focus-border-color
) {
  background-color: $forma-background-color;
  border-color: $forma-border-color;
  border-width: $forma-border-width;
  color: $forma-form-color;

  // Placeholder
  @if not($forma-placeholder-color == null) {
    &::placeholder {
      color: $forma-placeholder-color;
    }
  }

  // Disable
  &:disabled {
    background-color: $forma-disabled-background-color;
    opacity: $forma-disabled-opacity;
  }

  @if ($forma-focus-border-color) {
    &:focus {
      border-color: $forma-focus-border-color;
    }
  }
}
