@import '../../forma';

$color-dove-gray: #686565;
$color-white: #fff;
$color-black:  #000;

$forma-form-height: 16px;
$forma-form-padding: 14px 22px;
$forma-form-font-family: 'Roboto', sans-serif;
$forma-form-border-color: $color-dove-gray;
$forma-form-background-color: $color-white;
$forma-form-border-radius: 4px;
$forma-form-outline-width: 0;
$forma-form-color: $color-black;
$forma-form-placeholder-color: $color-dove-gray;
$forma-form-font-size: 14px;
$forma-form-border-width: 2px;

.form-group {
  width: 500px;

  &__field {
    @include forma-block();
    @include forma-modifier();

    &.is-alert {
      @include forma-modifier(
          $forma-border-color: #aa2222,
          $forma-color: #a22,
          $forma-placeholder-color:#a22
        );
    }
  }
}
